In [2]:
import pandas as pd

In [7]:
filepath='./stock_info.csv'
main_df=pd.read_csv(filepath)
main_df.tail()

                      stock  quantity category
8   Aloo Paratha (invidual)         1   Frozen
9                   Chillis         2      Veg
10        Eggs (individual)         2   Nonveg
11      Tomato (individual)         6      Veg
12                  Chicken         0   Frozen

In [13]:

temp_df=pd.DataFrame({'stock':"Test",
                     'quantity':2,
                     'category':"Test"}, index=[0])
main_df=pd.concat([main_df,temp_df]).reset_index(drop=True)

main_df

                      stock  quantity     category
0               Tomato Cans         6  Canned Food
1               Potato Cans         1  Canned Food
2            Chickpeas Cans         3  Canned Food
3            Red Beans Cans         2  Canned Food
4                     Bread         2  Everday Use
5                      Milk         1  Everday Use
6                     Pizza         2       Frozen
7              Icecream tub         2       Frozen
8   Aloo Paratha (invidual)         1       Frozen
9                   Chillis         2          Veg
10        Eggs (individual)         2       Nonveg
11      Tomato (individual)         6          Veg
12                  Chicken         0       Frozen
13                     Test         2         Test