In [18]:
import pandas as pd
import numpy as np

treesdf=pd.read_csv('./trees.csv')

dbh_df=pd.DataFrame(treesdf.groupby('dbh')['tree_id'].count().reset_index(drop=True))
dbh_df.columns=['tree_count']

In [19]:
dbh_df.head()

   tree_count
0          44
1         154
2         229
3        2721
4         319

In [20]:
dbh_df['new_col']=np.random.randn(len(dbh_df))*500

In [21]:
dbh_df.head()

   tree_count     new_col
0          44 -409.363547
1         154 -226.748875
2         229  118.367983
3        2721  433.004770
4         319 -986.594858

In [24]:
import plotly.express as px