In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('./penguins.csv')
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

In [4]:
tuple(df.species.unique())

('Adelie', 'Gentoo', 'Chinstrap')

In [8]:
list(df.columns)[2:6]

['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']

In [9]:
import seaborn as sns